:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "M PLUS 1 Code", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Readex Pro", sans-serif;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 100vh;
}

.header__nav {
  padding: 1rem 8rem;
  height: 8rem;
  background-color: rgb(241, 239, 239);
  display: flex;
  color: black;
  align-items: center;
}

.header__nav-wrapper {
  width: 15rem;
  height: 5rem;
  flex: 1;
}
.header__nav-wrapper__logo {
  width: 14rem;
  height: 5rem;

  object-fit: contain;
}
.header__nav-links {
  display: flex;
}

.header__nav-links__li {
  margin-right: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
}

.header__nav-links__li-href--btn {
  background-color: var(--color-primary);
  padding: 1rem;
  color: white;
  cursor: pointer;
}
